<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChessFriend-Fire - Settings</title>
    <link rel="stylesheet" href="../css/common.css">
  </head>

  
  <body>

   
    <div id="container">

 
      <div id="left_panel">
	<div class="sidebar">
	  <!-- sidebar -->
	  <ul id="sidebarItems"></ul>
	  <!-- open games -->
	  <ul id="openGames"></ul>
	</div>
      </div>
	
     
      <div id="right_panel">

	<div class="container">
	  
	  <div id="drag">
	    &nbsp;
	    <!-- resize -->
	  </div>

	  <div class="big-table-container">

	    <div class="stickyOnTop">
	      <table class="big-table">
		<thead>
		  <tr>
		    <th colspan="2">Settings</th>
		  </tr>
		</thead>
	      </table>
	    </div>
	    
	    <table class="big-table" id="engineSettings">
	    </table>

	    <div class="searchBtnContainer">
	      <span class="btn" id="confirmSettings">Ok</span>
	    </div>
	  </div>

	    
	</div> <!-- container class -->
	
      </div> <!-- right panel -->
    </div> <!-- container -->
   

  </body>
</html>

<script>
  
  // load dependencies
  var path = require('path')
  var WindowHandler = require(path.join(process.cwd(), '/app/window.js'))
  
  var win = new WindowHandler(window)
  win.makeSettingsConfirmable()
  
</script>
