<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chessfriend - Search</title>
    
    <link rel="stylesheet" href="../css/common.css">
    <script src="../app/chessfriend.js"></script>
    
  </head>

  
  <body>

    <div class="game-container">

      <div class="board-view setup noRightBorder">
	<div id="game-board"></div>
      </div>

      <div class="search-view setup noLeftBorder">
	<div class="search-window">

	  <form onsubmit="return false;">
	    <div id="pieceContainer"></div>

	    <br>
	    <label>Search position from FEN:</label><br>
	    <input type="text" class="searchbox" id="FENinput" name="FENinput" value="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1" oninput="insertFEN()">
	  
	    <div style="display: flex; flex-direction: row; margin-top: 8px;">

	      <div style="width: 50%; margin-right: 16px;">
		<div style="width: 100%;">
		  <label style="display: inline-block; width: 100%;">Player White:<br>
		    <input class="customInput" id="playerWhite" type="text" style="width: 100%;">
		  </label>
		</div>
	      </div>
	      
	    
	      <div style="width: 50%;">
		<div>
		  <label>Player Black:<br>
		    <input class="customInput" id="playerBlack" type="text" style="width: 100%;">
		  </label>
		</div>
	      </div>

	    </div>
	    
	  </form>

	  <br>
	  <div style="text-align: center">
	    <button onclick="search()">Search</button>
	  </div>

	</div>
      </div>

    </div>
  </body>
</html>



<script>

  var path = require('path')
  var boardContainer = document.getElementById('game-board')
  var FENContainer = document.getElementById('FENinput')
  var pieceContainer = document.getElementById("pieceContainer")
  var BoardHandling = require(path.join(process.cwd(), '/app/boardHandling.js'))
  var db = require(path.join(process.cwd(), '/app/chessfriendDB.js'))  
  var DBHandling = require(path.join(process.cwd(), '/app/dbHandling.js'))
  var dbHandler = new DBHandling(window, db)
  
  var Container = {}
  Container.boardContainer = boardContainer
  Container.FENContainer = FENContainer
  Container.pieceContainer = pieceContainer
  
  var board = new BoardHandling(window, Container, db)
  board.loadForSearch()

  
  function insertFEN() {
      var fen = FENContainer.value
      board.insertFEN(fen)
  }


  function search() {

      var playerWhite = document.getElementById("playerWhite").value
      var playerBlack = document.getElementById("playerBlack").value
      

      var searchObj = {}
      if (playerWhite !== "") {
	  var re = new RegExp( '^' + playerWhite, "i")
	  searchObj.White = { $regex: re }
      }

      if (playerBlack !== "") {
	  var re = new RegExp( '^' + playerBlack, "i")
	  searchObj.Black = { $regex: re }
      }

      if (FENContainer.value !== "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1") {
	  searchObj.positions = FENContainer.value.split(' ')[0] 
      }

      if (Object.keys(searchObj).length !== 0) {
	  dbHandler.searchDB(searchObj)
      } else {
	  alert ("Please specify your search")
      }
      
  }


</script>
