@import url("../css/normalize.css");
@import url("../css/font-awesome.css");


@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Alpha";
  src: url(../fonts/Alpha/ChessAlpha2.ttf) format("truetype");
}


:root {
  --base0-color:  #000000;
  --base1-color:  #1C1C1C;
  --base2-color:  #262626;
  --base3-color:  #404040;
  --base4-color:  #4B4B4B;
  --base5-color:  #7A7A7A;
  --base6-color:  #A9A9A9;
  --base7-color:  #C8C8C8;
  --base8-color:  #F0F0F0;
  --blue-color:   #408CCF;
  --magenta-color:#FF2E6C;
  --red-color:    #FF0000;
  --yellow1-color:#F9BE35;
  --yellow2-color:#E09A2F;
  --orange-color: #b36200;
  --green1-color: #002b04;
  --green2-color: #014406;
  --green3-color: #015e09;
  --green4-color: #01770b;
  --green5-color: #01900d;
  --green6-color: #01aa10;
  --green7-color: #02c312;
  --green8-color: #c7ffcc;
  --light-square: #cccccc;
  --dark-square:  #666666;
  
}

html {
    font-family: "Lato";
    font-size: 62.5%;
    height: 100%;
}


body {
    font-size: 1.4em;
    user-select: none;
    pointer-events: none;
}


.sidebarSeparator {
    border-bottom: 2px solid var(--base0-color);
}

.sidebar {
    background-color: var(--base1-color);
    overflow-y: auto;
    height: 100%;
}

.sidebar ul li {
    padding-left: 16px;
}

.liContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liText {
    white-space: nowrap;
    color: var(--base6-color);
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.liIcon {
    display: none;
    margin-right: 8px;
}

.liIcon:hover {
    color: var(--red-color);
}

.sidebarItem:hover .liIcon{
    display: inline-block;
}

.activeSidebarItem {
    color: var(--blue-color);
}
	      

#sidebarItems {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}


#openGames {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.sidebarItem:hover {
    background-color: var(--base3-color);
    color: var(--base8-color);
    cursor: pointer;
}

.sidebarItem:hover .liText {
    color: var(--base8-color);
}

.sidebarItem.dummy:hover {
    background-color: var(--base1-color);
}

.sidebarItem.over {
  border-top: 1px solid var(--base8-color);
}

#container {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#left_panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#right_panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#drag {
    cursor: col-resize;
    background-color: var(--base0-color);
    height: 100%;
    min-width: 8px;
}

.mainDesc {
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: smaller;
    color: var(--base5-color);
}


.mainDescCenter {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mainDescRight {
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: 16px;
}

.mainDescCenterDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainDescCenterItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

.stickyOnTop {
    background-color: var(--base3-color);
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.stickyOnBottom {
    background-color: green;
    position: sticky;
    bottom: 0px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}

.db-entries-container {
    height: 100%;
    overflow-y: scroll;
    background-color: var(--base2-color);
}

.db-entries {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    font-size: 90%;
    background-color: var(--base4-color);
    color: var(--base7-color);
}


.db-entries tbody {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.db-entries td {
    border-top: 1pt solid var(--base0-color);
    border-bottom: 1pt solid var(--base0-color);
    display: table-cell;
    padding: 8px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.db-entries th:first-child {
    padding-left: 10px;
}

.db-entries td:first-child {
    padding-left: 10px;
}

.db-entries th {
    font-weight: normal;
    padding: 12px 4px;
    text-align: left;
    display: table-cell;
    background-color: var(--base3-color);
    color: var(--base6-color);
}

.db-entries th span:hover {
    color: var(--base8-color);
    cursor: pointer;
 }

.db-entries th span:hover:after {
    content: '\25BE';
}

.db-entries th:last-child {
    padding-right: 12px;
}

.db-entries td:last-child {
    padding-right: 12px;
}

.db-entries tbody tr:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
    cursor: pointer;
}

.db-entry-player {
    width: 20%;
}

.db-entry-dwz {
    width: 3.5rem;
}

.db-entry-res {
    width: 4rem;
    text-align: center;
}

.db-entry-date {
    width: 2.5em;
}

.db-entry-star {
    width: 1.5em;
}

.db-entry-tag {
    color: lightgray;
    width: 1.5em;
    text-align: center;
}

.db-entry-trash {
    color: gray;
    width: 1.5em;
    text-align: center;
}

.db-entries .searchordered {
    color: var(--yellow1-color);
}

.db-entries .searchordered:hover {
    color: var(--base8-color);
}

.db-entries .searchordered:after {
    /* content: '\25BE'; */
}

.right-panel-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--base2-color);
    color: var(--base7-color);
}

.fa {
    font-family: "Lato", "FontAwesome";
}

.starred {
    color: var(--yellow1-color);
}

.tagged {
    color: gray;
}


/* Game */

.gameInfoContainer {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 16px;
}

.gameInfoTable {
    border-collapse: collapse;
    width: 100%;
    color: var(--base6-color);
}

.gameInfoTable td {
    padding: 0;
    margin: 0;
}

.gameInfoInput {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--base4-color);
    border: 0;
    color: var(--base7-color);
}

.gameInfoInput:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}

.gameInfoInput::placeholder {
    color: var(--base7-color);
}

.gameInfoSelect:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}

.gameInfoSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 0px;
  background-color: var(--base4-color);
  color: var(--base7-color);
  height: 18px;
  margin-top: 2px;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 8px solid var(--base2-color);
    border-left: 8px solid var(--base2-color);
    border-right: 1px solid var(--base0-color);
    background-color: var(--base2-color);
    padding-right: 7px;
}

.board {
    margin: auto;
    float: left;
    width: 100%;
    border-collapse: collapse;
}

.board tr, .board td {
    margin: 0;
    padding: 0;
    text-align: center;
}

.coord {
    text-align: left;
    font-size: smaller;
    width: 12px;
    color: var(--base5-color);
}

.square {
    width: 12.5%;
    padding-bottom: 12.5%;
    position: relative;
    float: left;
    display: inline-block;
}

.innerSquare {
   position: absolute;
   left: 3px;
   right: 3px;
   top: 3px;
   bottom: 3px;
}

.black {
    background-color: rgb(199, 147, 94); 
}

.white {
    background-color: rgb(254, 201, 146); 
}

.highlightedSquare {
    background-color: var(--magenta-color);
}

.highlightedSAN {
    color: var(--base1-color);
    background-color: var(--yellow1-color);
}

#PGNContainer {
    padding-top: 8px;
    line-height: normal;
}

.gameContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--base3-color);
    color: white;
}

.notationContainer {
    width: 50%;
    overflow: auto;
    flex-grow: 1;
    background-color: var(--base3-color);
    color: var(--base8-color);
    line-height: 1.5;
}

.valign {
    position: relative;
    top: 50%;
    left: -5%;
    transform: translateY(-60%);
}

.piecesize {
    width: 110%;
}

.selected {
    border: 3px solid var(--magenta-color);
}

.startComment {
    color: var(--base7-color);
}
	      
.comment {
    color: var(--base7-color);
}

.branchLevel0 {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel1 {
    padding-left: 8px;
    background-color: var(--green1-color);
    color: var(--base7-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel2 {
    background-color: var(--green2-color);
    color: var(--base7-color);
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel3 {
    background-color: var(--green3-color);
    color: var(--base7-color);
    padding-left: 72px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel4 {
    background-color: var(--green4-color);
    color: var(--base7-color);
    padding-left: 104px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel5 {
    background-color: var(--green4-color);
    color: var(--base7-color);
    display: inline-block;
}

.branchLevel0 + .branchLevel1 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel1 + .branchLevel1 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel2 + .branchLevel2 {
    border-top: 1pt dotted var(--base0-color);
}

.branchLevel3 + .branchLevel3 {
    border-top: 1pt dotted var(--base0-color);
}

.branchLevel4 + .branchLevel4 {
    border-top: 1pt dotted var(--base0-color);
}

.branchLevel0 .comment {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.branchLevel0 .startComment {
    display: block;
    padding-top: 0px;
    padding-bottom: 8px;
}

.selectableMove:hover {
    color: var(--base1-color);
    background-color: var(--base8-color);
}

.boardControlContainer {
    width: 100%;
    display: flex;
    padding: 8px;
    justify-content: center;
    color: var(--base6-color);
}

.boardControlContainer div {
    width: 12.5%;
    text-align: center;
    position: relative;
}

.boardControlContainer div:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.boardSTM {
    display: inline-block;
    font-size: smaller;
    padding-bottom: 4px;
    margin-left: 12px;
    color: var(--base5-color);
}

.board_wtm {
    color: white;
    display: inline-block;
    margin-right: 4px;
}

.board_btm {
    color: white;
    display: inline-block;
    margin-right: 4px;
}

/* Loader */

.loader {
    border: 4px solid var(--base6-color);
    border-top: 4px solid var(--red-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--base4-color);
    color: var(--base7-color);
    margin: auto;
    padding: 16px;
    text-align: center;
    width: 30%;
}

.modal-text {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.5;
}

.modalBtnContainer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.modalBtnContainer .btn {
    flex-grow: 1;
    flex-basis: 0;
}

#importStatusBar {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

/* Buttons */

.btn {
    padding: 6px;
    border-radius: 6px;
    border: 1pt solid var(--orange-color);
    background-color: ;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--yellow1-color);
    color: var(--orange-color);
    text-align: center;
}

.btn:focus {
    box-shadow: 0 0 8px -2px var(--yellow1-color);
    color: var(--base8-color);
    outline: none;
}

.btn:hover {
    box-shadow: 0 0 8px -2px var(--yellow1-color);
    color: var(--base8-color);
    cursor: pointer;
}

.filtering {
    color: var(--yellow1-color);
}

#filterBtn:hover {
    color: var(--base8-color);
    cursor: pointer;
}

#paginateNext:hover {
    color: var(--base8-color);
    cursor: pointer;
}

#paginatePrev:hover {
    color: var(--base8-color);
    cursor: pointer;
}

/* Engine */

.engineOut {
    margin-top: 16px;
    margin-left: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.engineStatusContainer {
    margin-top: -4px;
    padding-bottom: 4px;
    color: var(--base7-color);
}

.engineStatus {
    display: inline-block;
    margin-right: 8px;
    font-size: smaller;
}

.engineDepth {
    display: inline-block;
    margin-right: 8px;
    font-size: smaller;
}

.engineCurrmove {
    display: inline-block;
    font-size: smaller;
}

.engineEval {
    color: var(--base8-color);
    font-weight: bold;
    font-size: small;
    margin-right: 8px;
    display: inline-block;
}

.engineLines {
    height: 100%;
    overflow-y: auto;
}

.engineLine {
    /* white-space: nowrap; */
    text-align: justify;
    color: var(--base6-color);
}

.engineLine:hover {
    color: var(--bae8-color);
}

.figurine {
    font-family: "Alpha";
    font-weight: 100;
}


/* scrollbar */

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--base6-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--base7-color);
}

::-webkit-scrollbar-thumb:vertical {
    min-height: 42px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--base5-color);
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* search */


.mainSearchInfoContainer {
    margin-right: 8px;
    margin-left: 8px;
    height: 100%;
    box-sizing:border-box;
}

.searchBtnContainer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.searchInfoContainer {
    margin-left: 8px;
    margin-right: 16px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    box-sizing:border-box;
    min-height: 200px;
}

.searchInfoTable {
    border-collapse: collapse;
    width: 100%;
    color: var(--base6-color);
}

.searchInfoTable tbody > tr > td:first-child {
    width: 18px;
}

.selectable:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.actionSelected {
    color: var(--yellow1-color);
}

.searchInfoTable td {
    padding: 2px;
    margin: 0;
    white-space: nowrap;
}

.searchInfoSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  padding: 6px;
  border: 0;
  background-color: var(--base4-color);
  color: var(--base7-color);
}

.searchInfoSelect:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
    cursor: pointer;
}

.searchInfoInput {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--base4-color);
    color: var(--base7-color);
}

.searchInfoInput:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}

.searchBoard {
    margin-bottom: 0;
}

.searchSquare {
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    display: inline-block;
    text-align: center;
}

.pieceContainer {
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--base5-color);
    height: 20%;
}

.pieces {
    width: 90%;
    padding-bottom: 4px;
    border: 3px solid var(--base5-color);
    background-color: var(--base5-color);
    box-sizing: border-box;
}

.pieces:hover {
    border: 3px solid var(--base8-color);
}

.pieces.selected {
    border: 3px solid var(--magenta-color);
}

.empty-square {
    display: inline-block;
    width: 12%;
    padding-bottom: 12%;
    background: repeating-linear-gradient(
	45deg,
	#99b2c4,
	#99b2c4 8px,
	white 8px,
	white 16px
    );
}


/* cursors */
.bp_cursor {
    cursor:url("../assets/cursors/bp.png")12 12, auto;
}

.bb_cursor {
    cursor:url("../assets/cursors/bb.png")12 12, auto;
}

.bn_cursor {
    cursor:url("../assets/cursors/bn.png")12 12, auto;
}

.br_cursor {
    cursor:url("../assets/cursors/br.png")12 12, auto;
}

.bq_cursor {
    cursor:url("../assets/cursors/bq.png")12 12, auto;
}

.bk_cursor {
    cursor:url("../assets/cursors/bk.png")12 12, auto;
}

.wp_cursor {
    cursor:url("../assets/cursors/wp.png")12 12, auto;
}

.wb_cursor {
    cursor:url("../assets/cursors/wb.png")12 12, auto;
}

.wn_cursor {
    cursor:url("../assets/cursors/wn.png")12 12, auto;
}

.wr_cursor {
    cursor:url("../assets/cursors/wr.png")12 12, auto;
}

.wq_cursor {
    cursor:url("../assets/cursors/wq.png")12 12, auto;
}

.wk_cursor {
    cursor:url("../assets/cursors/wk.png")12 12, auto;
}


/* awesomplete */
div.awesomplete {
    width: 100%;
}


/* tooltip */
.tooltip {
    display: none; 
    position: absolute;
    background-color: var(--base2-color);
    color: var(--base7-color);
    font-size: smaller;
    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -50px;
}

.boardControlContainer div:hover span.tooltip {
    display: block;
}


/* icons */

/* div[id="Games"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2654\a0"; */
/* } */

/* div[id="Import"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2655\a0"; */
/* } */

/* div[id="Setup position"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2656\a0"; */
/* } */

/* div[id="Starred"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\f005\a0"; */
/*     font-size: 10pt; */
/* } */


/* big table */

.big-table-container {
    height: 100%;
    overflow-y: auto;
    background-color: var(--base2-color);
}

.big-table {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    font-size: 90%;
    background-color: var(--base4-color);
    color: var(--base7-color);
}


.big-table tbody {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.big-table td {
    border-top: 1pt solid var(--base0-color);
    border-bottom: 1pt solid var(--base0-color);
    display: table-cell;
    padding: 8px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big-table th:first-child {
    padding-left: 10px;
}

.big-table td:first-child {
    padding-left: 10px;
}

.big-table th {
    font-weight: normal;
    padding: 12px 4px;
    text-align: center;
    display: table-cell;
    background-color: var(--base3-color);
    color: var(--base6-color);
}

.big-table th span:hover {
    color: var(--base8-color);
 }

.big-table th span:hover:after {
    content: '\25BE';
}

.big-table th:last-child {
    padding-right: 12px;
}

.big-table td:last-child {
    padding-right: 12px;
}

.big-table tbody tr:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}

.big-table-input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--base4-color);
    border: 0;
    color: var(--base7-color);
}

.big-table-input:hover {
    box-shadow: 0 0 8px -2px var(--base4-color);
    color: var(--base8-color);
}

.big-table-input::placeholder {
    color: var(--base7-color);
}

.big-table-select:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}


/* dropzone */

.dropzone {
    box-sizing: border-box;
    border: 2px dotted var(--yellow1-color) ;
    border-radius: 5px;
    padding: 32px;
    color: var(--base7-color);
    text-align: center;
    margin: 16px;
}

.dropzone a {
    color: var(--base7-color);
    text-decoration: none;
}

.dropzone:hover {
    color: var(--base8-color);
}

.dropzone a:hover {
    color: var(--base8-color);
}

/* DB init */

.dbInitBtnContainer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.dbInitContainer {
    margin-left: 8px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing:border-box;
    min-height: 200px;
}

.dbInitTable {
    border-collapse: collapse;
    width: 100%;
    color: var(--base6-color);
}

.dbInitTable tbody > tr > td:first-child {
    width: 18px;
}

.dbInitTable td {
    padding: 4px;
}
