@import url("../css/normalize.css");
@import url("../css/font-awesome.css");
@import url("../css/awesomplete.css");


@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Alpha";
  src: url(../fonts/Alpha/ChessAlpha2.ttf) format("truetype");
}


:root {
  --base0-color:    #000000;
  --base1-color:    #1C1C1C;
  --base2-color:    #262626;
  --base3-color:    #404040;
  --base4-color:    #4B4B4B;
  --base-45-color:  #595959;
  --base5-color:    #7A7A7A;
  --base6-color:    #A9A9A9;
  --base7-color:    #C8C8C8;
  --base8-color:    #F0F0F0;
  --blue-color:     #408CCF;
  --magenta-color:  #FF2E6C;
  --red-color:      #FF0000;
  --fire-color:     #B22222;
  --yellow1-color:  #F9BE35;
  --yellow2-color:  #E09A2F;
  --orange-color:   #b36200;
  --green1-color:   #002b04;
  --green2-color:   #014406;
  --green3-color:   #015e09;
  --green4-color:   #01770b;
  --green5-color:   #01900d;
  --green6-color:   #01aa10;
  --green7-color:   #02c312;
  --green8-color:   #c7ffcc;
  --light-square:   #FEC992;
  --dark-square:    #C7935E;
  
}

html {
    font-family: "Lato";
    font-size: 62.5%;
    height: 100%;
}


body {
    font-size: 1.4em;
    user-select: none;
    pointer-events: auto;
}


#main-container {
    width: 100%;
    height: 100%;
}


#left-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--base1-color);
}


#right-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}


#resize-handle {
    cursor: col-resize;
    background-color: var(--base0-color);
    height: 100%;
    min-width: 8px;
}


#right-panel__flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}


#right-panel__body {
    width: 100%;
}


#sidebar {
    overflow-y: auto;
    height: 100%;
}


.sidebar {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}


.sidebarItem__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.sidebarItem__text {
    white-space: nowrap;
    color: var(--base6-color);
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    width: 100%;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.sidebarItem:hover {
    background-color: var(--base3-color);
    color: var(--base8-color);
    cursor: pointer;
}


.sidebarItem:hover .sidebarItem__text {
    color: var(--base8-color);
}


.sidebarItem.dummy:hover {
    background-color: var(--base1-color);
    cursor: default;
}


.sidebarItem.over {
  border-top: 1px solid var(--base8-color);
}


.sidebarItem__icon {
    display: none;
    margin-right: 8px;
}


.sidebarItem__icon:hover {
    color: var(--red-color);
}


.sidebarItem:hover .sidebarItem__icon{
    display: inline-block;
}


.sidebarSeparator {
    margin-top: 16px;
    border-top: 2px solid var(--base0-color);
    margin-bottom: -8px;
}

.sidebarSeparator div {
    color: var(--base4-color);
    margin-left: 16px;
    font-size: smaller;
    font-weight: bold;
    padding-top: 8px;
}


.sidebarIcon {
    display: inline-block;
    width: 13px;
    padding-right: 8px;
    text-align: center;
}

.split-container {
    display: flex;
    height: 100%;
}


#split-container__left-pane {
    width: 38%;
    background-color: var(--base1-color);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    border-right: 1pt solid var(--base0-color);
}


#split-container__right-pane {
    width: 62%;
    overflow-y: scroll;
    background-color: var(--base1-color);
}


.boardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    padding-top: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}


.board {
    margin: auto;
    text-align: center;
    width: 100%;
    box-sizing:border-box;
    border-collapse: collapse;
}


.board tr, .board td {
    margin: 0;
    padding: 0;
    text-align: center;
}


.coord {
    text-align: left;
    font-size: smaller;
    width: 12px;
    color: var(--base5-color);
}

.fileDescription {
    width: 12.5%;
    position: relative;
    float: left;
    text-align: center;
    display: inline-block;
}

.square {
    width: 12.5%;
    padding-bottom: 12.5%;
    position: relative;
    float: left;
    display: inline-block;
}

.innerSquare {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.black {
    background-color: var(--dark-square);
}

.white {
    background-color: var(--light-square);
}


.valign {
    position: relative;
    top: 50%;
    left: -5%;
    transform: translateY(-60%);
}

.piecesize {
    width: 110%;
}


.highlightedSquare {
    outline-style: solid;
    outline-color: var(--magenta-color);
    outline-width: 3px;
    z-index: 1;
}

.highlightedSAN {
    color: var(--yellow1-color) !important;
}

.highlightedMv {
    color: var(--yellow2-color) !important;
}

/* DB entries */

.db-entries {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    font-size: 90%;
    background-color: var(--base4-color);
    color: var(--base7-color);
    box-sizing: border-box;
}


.db-entries tbody {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.db-entries td {
    border-top: 1pt solid var(--base0-color);
    border-bottom: 1pt solid var(--base0-color);
    display: table-cell;
    padding: 8px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.db-entries td:first-child {
    padding-left: 10px;
}

.db-entries td:last-child {
    padding-right: 12px;
}

.db-entries tbody tr:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
    cursor: pointer;
}




.db-entries th {
    font-weight: normal;
    padding: 4px;
    padding-top: 0;
    padding-bottom: 8px;
    text-align: left;
    display: table-cell;
    background-color: var(--base3-color);
    color: var(--base6-color);
}

.db-entries thead {
    border-bottom: 1px solid var(--base0-color);
}

.db-entries th:first-child {
    padding-left: 10px;
}

.db-entries th:last-child {
    padding-right: 12px;
}

.db-sortable-header {
    display: inline-table;
    text-align: center;
}

.sortIndicator {
    color: var(--base5-color);
}

.db-sortable-header:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.sorted {
    color: var(--green7-color);
}

.db-entry-player {
    width: 20%;
}

.db-entry-dwz {
    width: 3.5rem;
}

.db-entry-res {
    width: 4rem;
}

.db-entry-date {
    width: 2.5em;
}

.db-entry-star {
    width: 1.5em;
}

.db-entry-tag {
    width: 1.5em;
    text-align: center;
}

.db-entry-trash {
    width: 1.5em;
    text-align: center;
}

.starred {
    color: var(--yellow1-color);
}

.fa {
    font-family: "Lato", "FontAwesome";
}

.stickyOnTop {
    background-color: var(--base3-color);
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}


/* modal */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: var(--base4-color);
    margin: auto;
    text-align: center;
    width: 38%;
    color: var(--base8-color);
    border-radius: 8px;
    border: 1pt solid var(--base7-color);
}


.modal-fileImport {
    width: 62%;
}

.modal-text {
    padding: 12px;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    color: var(--base7-color);
}

.modal-buttons div:hover {
    color: var(--base8-color);
    cursor: pointer;
}


/* awesomplete */
div.awesomplete {
    width: 100%;
}


/* icons */

/* div[id="Games"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2654\a0"; */
/* } */

/* div[id="Import"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2655\a0"; */
/* } */

/* div[id="Setup position"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\2656\a0"; */
/* } */

/* div[id="Starred"]:before { */
/*     font-family: FontAwesome; */
/*     content:"\f005\a0"; */
/*     font-size: 10pt; */
/* } */


/* scrollbar */

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--base6-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--base8-color);
}

::-webkit-scrollbar-thumb:vertical {
    min-height: 42px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--base5-color);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Notation */
.pgnContainer {
    color: var(--base7-color);
    line-height: 1.5;
    background-color: var(--base1-color);
}

.branchLevel0 {
    background-color: var(--base1-color);
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.branchLevel1 {
    background-color: var(--base2-color);
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.branchLevel2 {
    background-color: var(--base3-color);
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.branchLevel3 {
    background-color: var(--base4-color);
    padding-left: 72px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.branchLevel4 {
    background-color: var(--base-45-color);
    padding-left: 104px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.branchLevel5 {
    background-color: var(--base-45-color);
    display: inline;
}

.branchLevel0 + .branchLevel1 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel1 + .branchLevel1 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel1 + .branchLevel2 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel2 + .branchLevel3 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel3 + .branchLevel4 {
    border-top: 1pt solid var(--base0-color);
}


.branchLevel2 + .branchLevel2 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel3 + .branchLevel3 {
    border-top: 1pt solid var(--base0-color);
}

.branchLevel4 + .branchLevel4 {
    border-top: 1pt solid var(--base0-color);
}


.branchLevel5 .comment {
    display: inline;
}

.branchLevel5 .startComment {
    display: inline;
}

.selectableMove:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.mvNr {
    color: var(--base6-color);
}

.nag {
    color: var(--base6-color);
}

.startComment {
    color: var(--base6-color);
    display: block;
    padding-top: 0px;
    padding-bottom: 8px;
}
              
.comment {
    color: var(--base6-color);
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}


/* game control bar */
.gameControlContainer {
    flex-direction: row;
    justify-content: center;
    color: var(--base6-color);
    border-bottom: 2px solid var(--base0-color);
    text-align: center;
    padding: 12px 0px;
}


/* setup position */
.setupControlContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--base6-color);
    text-align: center;
    padding: 12px 0px;
    boder: 1pt solid red;
}


/* game info */

.gameInfoContainer {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    color: var(--base6-color);
    background-color: var(--base4-color);
}

.gameInfoTable {
    width: 100%;
    color: var(--base6-color);
}

.gameInfoInput {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    color: var(--base7-color);
    background-color: var(--base4-color);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.gameInfoInput:hover {
    color: var(--base8-color);
    box-shadow: 0 0 8px -2px var(--base0-color);
}

.gameInfoSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 18px;
  box-sizing: border-box;
  border: 0;
  border-radius: 0px;
  background-color: var(--base4-color);
  color: var(--base7-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
}

.gameInfoSelect:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
    cursor: pointer;
}


/* tooltip */

.tooltipContainer {
    position: relative;
    text-align: center;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--base5-color);
    
}

.tooltipContainer:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    width: 100px;
    top: 100%;
    left: -35px;
    color: var(--base7-color);
    font-size: smaller;
    white-space: nowrap;
}

.tooltipContainer:hover .tooltip {
    display: block;
}

.needsSaving {
    color: var(--blue-color);
}

/* Engine */


.engineOut {
    margin: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 64px;
}

.engineStatusContainer {
    padding-bottom: 4px;
    color: var(--base6-color);
}

.engineStatusContainer div span {
    color: var(--base7-color);
}

.engineStatus {
    display: inline-block;
    margin-right: 8px;
    font-size: smaller;
}

.engineDepth {
    display: inline-block;
    margin-right: 8px;
    font-size: smaller;
}

.engineCurrmove {
    display: inline-block;
    font-size: smaller;
}

.engineEval {
    color: var(--base8-color);
    font-weight: bold;
    font-size: small;
    margin-right: 8px;
    display: inline-block;
}

.engineLines {
    height: 100%;
    overflow-y: scroll;
    padding-right: 8px;
    font-size: small;
}

.engineLines::-webkit-scrollbar {
    width: 4px;
}


.engineLine {
    /* white-space: nowrap; */
    text-align: justify;
    color: var(--base6-color);
    padding-bottom: 4px;
}

.engineLine:hover {
    color: var(--base8-color);
}

.figurine {
    font-family: "Alpha";
    font-weight: 100;
}

.display__none {
    display: none !important;
}

/* search info */

.searchInfoContainer {
    font-size: 90%;
    padding: 8px 12px;
    padding-bottom: 0;
    background-color: var(--base3-color);
}

.searchStatusBar {
    padding-top: 8px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--base5-color);
}

.searchInfoTable {
    margin-bottom: 16px;
    border-collapse: collapse;
    width: 100%;
    color: var(--base6-color);
}

.searchInfoInput {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--base4-color);
    color: var(--base7-color);
}

.searchInfoInput:hover {
    box-shadow: 0 0 8px -2px var(--base0-color);
    color: var(--base8-color);
}

.searchInfoSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    padding: 6px;
    border: 0;
    background-color: var(--base4-color);
    color: var(--base7-color);
}

#searchStatusBarBtn:hover {
    color: var(--base8-color);
    cursor: pointer;
}


.searchStatusPager {
    display: inline-block;
    padding: 8px;
    font-size: 90%;
}

.searchStatusPager:hover {
    color: var(--base8-color);
    cursor: pointer;
}


.setupPositionTable {
    margin-bottom: 16px;
    border-collapse: collapse;
    width: 100%;
    color: var(--base5-color);
}

.setupPosition {
    margin: 16px;
}

.setupPositionTableRow td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.setupPositionTableRow:hover {
    color: var(--base8-color);
    cursor: pointer;
}

.setupPosition__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    color: var(--base7-color);
}

.setupPosition__buttons div {
    border-radius: 8px;
    border: 1pt solid var(--base7-color);
    padding: 12px;
}

.setupPosition__buttons div:hover {
    color: var(--base8-color);
    border: 1pt solid var(--base8-color);
    cursor: pointer;
}

.setupPosition__selected {
    color: var(--yellow1-color);
}

.setupPosition__desc-selected {
    color: var(--base7-color);
}

.pieceContainer {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--base5-color);
}


.searchSquare {
    width: 16%;
}

.pieces {
    width: 90%;
    padding-bottom: 4px;
    border: 3px solid var(--base5-color);
    background-color: var(--base5-color);
    box-sizing: border-box;
}

.pieces:hover {
    border: 3px solid var(--base8-color);
    cursor: pointer;
}

.pieces.selected {
    border: 3px solid var(--magenta-color);
}


/* cursors */
.bp_cursor {
    cursor:url("../assets/cursors/bp.png")12 12, auto;
}

.bb_cursor {
    cursor:url("../assets/cursors/bb.png")12 12, auto;
}

.bn_cursor {
    cursor:url("../assets/cursors/bn.png")12 12, auto;
}

.br_cursor {
    cursor:url("../assets/cursors/br.png")12 12, auto;
}

.bq_cursor {
    cursor:url("../assets/cursors/bq.png")12 12, auto;
}

.bk_cursor {
    cursor:url("../assets/cursors/bk.png")12 12, auto;
}

.wp_cursor {
    cursor:url("../assets/cursors/wp.png")12 12, auto;
}

.wb_cursor {
    cursor:url("../assets/cursors/wb.png")12 12, auto;
}

.wn_cursor {
    cursor:url("../assets/cursors/wn.png")12 12, auto;
}

.wr_cursor {
    cursor:url("../assets/cursors/wr.png")12 12, auto;
}

.wq_cursor {
    cursor:url("../assets/cursors/wq.png")12 12, auto;
}

.wk_cursor {
    cursor:url("../assets/cursors/wk.png")12 12, auto;
}
